Import des libs

In [ ]:
import numpy as np
import pandas as pd
import os

In [9]:
filepath = os.path.join('..', '..', '..', '02 - Raw Data', '02 - Transport', 'Transport et pollution', 'circulation_paris_bp_pim_19_23_raw.csv')
df = pd.read_csv(filepath, sep=";")
df.head()

,annee,VOLUME_PIM,VITESSE_PIM,VOLUME_BP,VITESSE_BP,KPIM_ANNUEL,VPIM_ANNUEL,KBP_ANNUEL,VPBP_ANNUEL
0,2019-09-01,694.0,12.3,5235,33.799225,683.00,12.30,5146.000000,34.500000
1,2019-10-01,686.7,12.6,5169,32.780596,683.00,12.30,5146.000000,34.500000
2,2020-09-01,670.9,12.5,5358,35.400000,571.00,13.40,4828.000000,40.400000
3,2022-06-01,626.3,11.8,4854,31.100000,585.21,12.43,4918.666667,36.361667
4,2023-12-01,518.6,10.4,4768,34.600000,546.00,11.30,4814.000000,34.100000

In [10]:
df['VOLUME_PIM'] = df['VOLUME_PIM'].round(2)
df['VITESSE_PIM'] = df['VITESSE_PIM'].round(2)
df['VITESSE_BP'] = df['VITESSE_BP'].round(2)
df['VPBP_ANNUEL'] = df['VPBP_ANNUEL'].round(2)
df['KBP_ANNUEL'] = df['KBP_ANNUEL'].astype(int)
df.head()

,annee,VOLUME_PIM,VITESSE_PIM,VOLUME_BP,VITESSE_BP,KPIM_ANNUEL,VPIM_ANNUEL,KBP_ANNUEL,VPBP_ANNUEL
0,2019-09-01,694.0,12.3,5235,33.80,683.00,12.30,5146,34.50
1,2019-10-01,686.7,12.6,5169,32.78,683.00,12.30,5146,34.50
2,2020-09-01,670.9,12.5,5358,35.40,571.00,13.40,4828,40.40
3,2022-06-01,626.3,11.8,4854,31.10,585.21,12.43,4918,36.36
4,2023-12-01,518.6,10.4,4768,34.60,546.00,11.30,4814,34.10

In [ ]:
df.to_csv("circulation_paris_bp_pim_19_23_clean.csv")